.card-title-container {
  position: absolute;
  bottom: 8px;
  left: 16px;
  background-color: black;
  width: 786px;
  height: 50px;
  color: white;
  padding: 5px;
  font-size: 20px;
  opacity: 0.8;
}

.large-card {
  position: absolute;
}
.card-subtitle {
  font-size: 11px;
  margin-bottom: -5px;
}
img {
  vertical-align: baseline;
}
